<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Honey Dew</title>
    <link rel="stylesheet" href="index.css" />
</head>
<body>
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="projects.html">Projects</a>
        <a href="contact.html">Contact</a>
        <a href=#>Code</a>
    </div>
    <div class="add">
        <form class="add" action = "/" method="post">
            <input id="text" type="text" name="addTask" placeholder="Add Some More Tasks"/><br>
            <button id="button" type="submit">Add</button>
        </form>
        <h3>Click Task to Remove</h3>
    </div>
    <div class="main">
        <h1>Honey Dew List</h1>
        <% for (let i = 0; i < listItem.length; i++) { %>
        <form class="items" name="f" action="/delete" method="post">
            <input type="checkbox" name="checkbox" value="<%= listItem[i]._id %>" onchange="this.form.submit()" id="checkbox"/>
            <h2 id="task" name="task"><%= listItem[i].name %></h2>
        </form>
        <% } %>
    </div>
</body>
</html>